<div class="discoverAll">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle sortbtn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sort By
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/discover/oldest">Date (Oldest)</a></li>
            <li><a class="dropdown-item" href="/discover/newest">Date (Newest)</a></li>
        </ul>
        <h2>Routines  <i class="fa-solid fa-down-long fa-bounce" style="color: #34495e;"></i></h2>
        {{#each routines as |routine|}}
        <div class="routine-nav">
            <a href="#{{routine.id}}">
        <button class="routine-btn">{{routine_name}}</button>
        </a>
        </div>
        {{/each}}
    </div>
    <div class="discover">
        {{!-- use helper function to pass loggedIn variable to each routine for use inside the each block --}}
        {{#eachWithLoggedIn routines loggedIn }}
        <div class="cardy">
            <div 
                class="discover-post"
                data-user-id="{{user_id}}">
                <div>

                    <a href="/profiles/{{user_id}}">
                    <button id="{{id}}">@{{user.user_name}}</button>
                    </a>
                    <p><span class="routine-description">{{description}}</span></p>
                    <p>Date Created: {{formatDate date_created}}</p>
                </div>
                <div class="dataTable">
                    <table>
                        <h2><span class="routine-name">{{routine_name}}</span></h2>
                        <thead class="tableHeaders">
                            <tr>
                                <th width="200">Name</th>
                                <th>Weight</th>
                                <th width="150">Reps</th>
                            </tr>
                        </thead>
                        {{#each exercises as |exercise|}}
                        <tbody>
                            <tr class="trow">
                                <td class="dataName">{{exercise.name}}</td>
                                <td>{{exercise.weight}}</td>
                                <td>{{exercise.reps}}</td>
                            </tr>
                        </tbody>
                        {{/each}}
                    </table>
                </div>
            </div>

            {{!-- Routine action buttons at bottom of card --}}
            <Div class="action">


                {{!-- Like button, for user to like/unlike a routine --}}

                {{!-- if user is not logged in, make the share button an anchor tag href link to the login page --}}
                {{#unless loggedIn}}
                <a href="/login">
                {{/unless}}
                {{!-- if user is logged in, button gets class 'like-button' and event listener will hear it --}}
                <button
                    class="{{#if loggedIn}}like-button {{/if}}bottom-left-btn"
                    data-routine-id="{{id}}"
                    data-liked="{{#if userLiked}}true{{else}}false{{/if}}">
                    <span class="like-count">{{likeCount}}</span>
                    {{!-- Thumbs-up icon solid if liked, outline if not liked (by current user) --}}
                    <i
                        class="
                            {{#if userLiked}}
                            fa-solid
                            {{else}}
                            fa-regular
                            {{/if}} fa-thumbs-up"
                    >
                    </i>
                </button>
                {{!-- if user is not logged in, close anchor tag --}}
                {{#unless loggedIn}}
                </a>
                {{/unless}}


                {{!-- Comment button, to view existing comments and allow adding comments to routines --}}
                
                {{!-- if user is not logged in, make the share button an anchor tag href link to the login page --}}
                {{#unless loggedIn}}
                <a href="/login">
                {{/unless}}
                <button class="comment-button">
                    <i class="fa-regular fa-comment"></i>
                </button>
                {{!-- if user is not logged in, close anchor tag --}}
                {{#unless loggedIn}}
                </a>
                {{/unless}}


                {{!-- Save button, to save a routine to user's My Flow page of personal routines --}}
                {{!-- if user is not logged in, make the share button an anchor tag href link to the login page --}}
                {{#unless loggedIn}}
                <a href="/login">
                {{/unless}}
                {{!-- if user is logged in, button gets class 'like-button' and event listener will hear it --}}
                <button
                    class="{{#if loggedIn}}save-button {{/if}}bottom-right-btn"
                    data-routine-id="{{id}}"
                    data-saved="{{#if userSaved}}true{{else}}false{{/if}}">
                    <i
                        class="
                            {{#if userSaved}}
                            fa-solid
                            {{else}}
                            fa-regular
                            {{/if}} fa-floppy-disk"
                    ></i>
                </button>
                {{!-- if user is not logged in, close anchor tag --}}
                {{#unless loggedIn}}
                </a>
                {{/unless}}
                
            </Div>
        </div>
        {{/eachWithLoggedIn}}
    </div>
</div>