<div class="discover">
    {{#each routines as |routine| }}
    <div class="card">
        <div class="discover-post">
            <div>
                <button>@{{routine.user.user_name}}</button>
                <p>{{routine.description}}</p>
                <p>Date Created: {{formatDate routine.date_created}}</p>
            </div>
            <div class="dataTable">
                <table>
                    <h2>{{routine.name}}</h2>
                    <thead class="tableHeaders">
                        <tr>
                            <th width="200">Name</th>
                            <th>Weight</th>
                            <th width="150">Reps</th>
                        </tr>
                    </thead>
                    {{#each routine.exercises as |exercise|}}
                    <tbody>
                        <tr class="trow">
                            <td class="dataName">{{exercise.name}}</td>
                            <td>{{exercise.weight}}</td>
                            <td>{{exercise.reps}}</td>
                        </tr>
                    </tbody>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
    {{/each}}
</div>