


<div class="discoverAll">
    <div class="dropdown">
        <h3 class="otherProfileUsername"><span class="at">@</span>{{routines.[0].user.user_name}}</h3>
        <h2>Routines  <i class="fa-solid fa-down-long fa-bounce" style="color: #34495e;"></i></h2>
        {{#each routines as |routine|}}
        <div class="routine-nav">
            <a href="#{{routine.id}}">
        <button class="routine-btn">{{routine.routine_name}}</button>
        </a>
        </div>
        {{/each}}
    </div>
    <div class="discover userProfile">
        {{#each routines as |routine| }}
        <div class="cardy">
            <div class="discover-post">
                <div>
                    <a href="/profiles/{{routine.user_id}}">
                    <button id="{{routine.id}}">@{{routine.user.user_name}}</button>
                    </a>
                    <p>{{routine.description}}</p>
                    <p>Date Created: {{formatDate routine.date_created}}</p>
                </div>
                <div class="dataTable">
                    <table>
                        <h2>{{routine.routine_name}}</h2>
                        <thead class="tableHeaders">
                            <tr>
                                <th width="200">Name</th>
                                <th>Weight</th>
                                <th width="150">Reps</th>
                            </tr>
                        </thead>
                        {{#each routine.exercises as |exercise|}}
                        <tbody>
                            <tr class="trow">
                                <td class="dataName">{{exercise.name}}</td>
                                <td>{{exercise.weight}}</td>
                                <td>{{exercise.reps}}</td>
                            </tr>
                        </tbody>
                        {{/each}}
                    </table>
                </div>
            </div>
            <Div class="action">
                <button
                    class="like-button bottom-left-btn"
                    data-routine-id="{{routine.id}}"
                    data-liked="{{#if userLiked}}true{{else}}false{{/if}}">
                <span class="like-count">{{likeCount}}</span>
                    <i
                        class="
                            {{#if userLiked}}
                            fa-solid
                            {{else}}
                            fa-regular
                            {{/if}} fa-thumbs-up"
                    >
                    </i>
                </button>
                <button>
                    <i class="fa-regular fa-comment"></i>
                </button>
                <button class="bottom-right-btn">
                    <i class="fa-regular fa-floppy-disk"></i>
                </button>
            </Div>
        </div>
        {{/each}}
    </div>
</div>