<div class="createbtn">
    <a href="/create">
        <button class="btn-primary newbtn">New</button>
    </a>
    <a href="/saved">
        <button class="btn-primary newbtn">View Saved</button>
    </a>
</div>
<div class="headerDiv">
    <h2 class="profileHeader">Your Routines</h2>
</div>

{{#if routines}}
<div class="profileData">
    {{#each routines as |routine| }}
    <div class="cardy">
        <div class="discover-post">
            <div>
                <button id="{{routine.id}}">@{{routine.user.user_name}}</button>
                <p>{{routine.description}}</p>
                <p>Date Created: {{formatDate routine.date_created}}</p>
            </div>
            <div class="dataTable">
                <table>
                    <h2>{{routine.routine_name}}</h2>
                    <thead class="tableHeaders">
                        <tr>
                            <th width="200">Name</th>
                            <th>Weight</th>
                            <th width="150">Reps</th>
                        </tr>
                    </thead>
                    {{#each routine.exercises as |exercise|}}
                    <tbody>
                        <tr class="trow">
                            <td class="dataName">{{exercise.name}}</td>
                            <td>{{exercise.weight}}</td>
                            <td>{{exercise.reps}}</td>
                        </tr>
                    </tbody>
                    {{/each}}
                </table>
            </div>
        </div>
        <Div class="action">
            <button class="bottom-left-btn profilebtns" id="edit-button">Edit</button>
            <button class="profilebtns" id="delete-button">Delete</button>
            <button class="bottom-right-btn profilebtns" id="share-button">Share</button>
        </Div>
    </div>
    {{/each}}
</div>
{{else}}
<h2 class="profileDefaultHeader">It's a little quiet in here, let's get started on some routines!</h2>
{{/if}}