<div class="createbtn">
    <a href="/create">
        <button class="btn-primary newbtn">New</button>
    </a>
    <a href="/shared/{{profileID}}">
        <button class="btn-primary newbtn">View Shared Routines</button>
    </a>
    <a href="/private/{{profileID}}">
        <button class="btn-primary newbtn">View Private Routines</button>
    </a>
</div>
<div class="headerDiv">
    <h2 class="profileHeader">Your Routines</h2>
</div>

{{#if routines}}
<div class="profileData">
    {{#each routines as |routine| }}
    <div class="cardy">
        <div class="discover-post">
            <div>
                <button id="{{routine.id}}">@{{routine.user.user_name}}</button>
                <p>{{routine.description}}</p>
                <p>Date Created: {{formatDate routine.date_created}}</p>
                <p id="hidden-id">{{routine.id}}</p>
            </div>
            <div class="dataTable">
                <table>
                    <h2>{{routine_name}}</h2>
                    <thead class="tableHeaders">
                        <tr>
                            <th width="200">Name</th>
                            <th>Weight</th>
                            <th width="150">Reps</th>
                        </tr>
                    </thead>
                    {{#each routine.exercises as |exercise|}}
                    <tbody>
                        <tr class="trow">
                            <td class="dataName">{{exercise.name}}</td>
                            <td>{{exercise.weight}}</td>
                            <td>{{exercise.reps}}</td>
                        </tr>
                    </tbody>
                    {{/each}}
                </table>
            </div>
        </div>
        <Div class="action">

            {{!-- Edit button --}}
            <a class="editTag" href="/routine-edit/{{routine.id}}"/>
            <button class="bottom-left-btn profilebtns" id="edit-button">
                Edit <i class="fa-regular fa-pen-to-square"></i>
            </button>
            </a>

            {{!-- Delete button --}}
            <button 
                class="delete-button profilebtns"
                data-routine-id="{{routine.id}}"
                id="delete-button"
            >
                Delete <i class="fa-solid fa-trash"></i>
            </button>

            {{!-- Share button --}}
            <button
                class="share-button bottom-right-btn profilebtns"
                data-routine-id="{{routine.id}}"
                data-shared="{{#if routine.share}}true{{else}}false{{/if}}"
                id="share-button"
            >
                {{#if routine.share}}
                Unshare <i class="fa-solid
                {{else}}
                Share <i class="fa-regular
                {{/if}} fa-share-from-square"></i>
            </button>

        </Div>
    </div>
    {{/each}}
</div>
{{else}}
<h2 class="profileDefaultHeader">It's a little quiet in here, let's get started on some routines!</h2>
{{/if}}